ul {
    list-style: none;
}
li {
    padding: 10px;
}
.pregunta{
    font-weight: bold;
    text-transform: uppercase;
}
.resp_encap {
    padding: 20px;
}
.resposta{
    padding: 15px;
    margin-right: 10px;
    background-color: grey;
}
