{% extends 'base.html.twig' %}

{% block body %}
    {% for user in users %}
        <div class="user">
            <span class="username">{{ user.username }}, {{ user.email }}</span>
        </div>
    {% else %}
        <p>No hi han usuaris a la BBDD</p>
    {% endfor %}
{% endblock %}
